.forecast {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  /* justify-content: center; */
  gap: 8px;
  padding-top: 20px;
  margin: 4px;
}

.forecast-card {
  background-color: #1f2937;
  padding: 8px;
  padding-bottom: 20px;
  display: flex;
  /* width: 100%; */
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  /* font-size: 1.5em; */
  color: #f9fafb;
}

.forecast-card-icon {
  color: #000000;
  font-size: 2.5em;
}

@media (min-width: 768px) {
  .forecast-card {
    /* width: 30%; */
    /* aspect-ratio: 1/1.5; */
    font-size: 1.2em;
  }
}

@media (min-width: 992px) {
  .forecast-card {
    /* width: 30%; */
    /* aspect-ratio: 1/1; */
    font-size: 1.2em;
  }
}
