.header {
  /* background-color: lightblue; */
  position: relative;
  padding: 8px;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  /* box-shadow: 1px 1px 5px 1px gray; */
  gap: 6px;
  text-align: center;
  margin: 4px;
}

h1 {
  color: #fafafa80;
}

.search-form {
  position: relative;
}

.search-form svg {
  position: absolute;
  color: #000000;
  top: 10px;
  left: 10px;
}

.input-form {
  font-size: 1.1em;
  width: 100%;
  border: 1px solid black;
  border-radius: 8px;
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 2.5rem;
  background-color: #1f2937;
  color: lightgray;
  outline: none;
}

.input-form:focus {
  border: 1px solid white;
}

.search-button {
  font-size: 1.1em;
  width: 25%;
  border: none;
  background-color: gray;
  color: aliceblue;
}

.cities {
  position: absolute;
  top: 125px;
  background-color: #1f2937;
  padding: 8px;
  width: 80%;
  border-radius: 8px;
}

.cities li {
  cursor: pointer;
}

.cities li:hover {
  background-color: #00000080;
}
